# Site settings
title: Satellite Recordings
description: DREAM
# baseurl: "" # the subpath of your site, e.g. /blog
# url: "localhost:3000" # the base hostname & protocol for your site e.g. http://willianjusten.com.br

# User settings
username: Satellite Recordings
user_description: Independent music label, the homebase of Spark's Fighter Squadron.
user_title: Satellite Recordings
email: satelliterecordings@gmail.com
# twitter_username: lorem_ipsum
instagram_username:
facebook_username: satelliterecordings
linkedin_username: 
github_username:  
# medium_username: lorem_ipsum
# medium_url: lorem_ipsum.medium.com
# gplus_username:  lorem_ipsum

plugins:
  - jekyll-gist
  - jekyll-paginate
  - jekyll-seo-tag
  - jekyll-sitemap

sass:
  sass_dir: /src/styles/
  style: :compressed

exclude: ['src' , 'node_modules']
