# Site settings
title: Satellite Recordings
description: Independent music label, Releasing music somewhere between dreampop indietronica and drum & bass. The homebase of Spark's Fighter Squadron.
# baseurl: "" # the subpath of your site, e.g. /blog
# url: "localhost:3000" # the base hostname & protocol for your site e.g. http://willianjusten.com.br

# User settings
username: Satellite Recordings
user_description: Independent music label, the homebase of Spark's Fighter Squadron.
user_title: Satellite Recordings
email: satelliterecordings+web@gmail.com
# twitter_username: lorem_ipsum
instagram_username:
facebook_username: satelliterecordings
linkedin_username: 
github_username:  
# medium_username: lorem_ipsum
# medium_url: lorem_ipsum.medium.com
# gplus_username:  lorem_ipsum

markdown: CommonMarkGhPages
commonmark:
  options: ["UNSAFE", "SMART", "FOOTNOTES"]
  extensions: ["strikethrough", "autolink", "table"]

plugins:
  - jekyll-gist
  - jekyll-paginate
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-archives

sass:
  sass_dir: /src/styles/
  style: :compressed

jekyll-archives:
  enabled: all
  layouts:
    tag: archive/tag
    category: archive/category
  permalinks:
    tag: '/tags/:name/'
    category: '/category/:name/'

defaults:
  # _posts
  - scope:
      path: ""
      type: post
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true

# Archives
collections:
  archives:
    output: true
    permalink: /archives/:path/


exclude: ['src' , 'node_modules']
