<div id="Artists">
<div class="ArtistSFSQ">
	<div class="artisttext" style="text-decoration: none; color:#FFFF!important; font-size: 30px; opacity: 1; text-align:center; align-items:center;">
		<img class="Artworks"src="/assets/sfsqportrait.jpg"alt="Portrait">
		<h1 style="color:#FFFF!important;">Spark's Fighter Squadron (SFSQ)</h1>
		<div class="header-icons">
			<a aria-label="Spotify" target="_blank" href="https://open.spotify.com/artist/4UXhn9MoXzFdcfT0QIFYv0"><i class="icon fa fa-spotify" aria-hidden="true"></i></a>
			<a aria-label="AppleMusic" target="_blank" href="https://music.apple.com/us/artist/sparks-fighter-squadron/1506806738"><i class="icon fa fa-apple" aria-hidden="true"></i></a>
			<a aria-label="Bandcamp" target="_blank" href="https://sparkdnb.bandcamp.com/"><i class="icon fa fa-bandcamp" aria-hidden="true"></i></a>
			<a aria-label="Twitter" target="_blank" href="https://twitter.com/spark_dnb"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
			<a aria-label="Instagram" target="_blank" href="https://instagram.com/spark_dnb"><i class="icon fa fa-instagram" aria-hidden="true"></i></a>
			<a aria-label="Instagram" target="_blank" href="https://youtube.com/@sfsq"><i class="icon fa fa-youtube" aria-hidden="true"></i></a>
		</div>
		
	</div>
</div>
</div>