<header class="pressbody">
<div style="text-decoration: none; color:#FFFF!important; opacity: 1;"><h1>PRESS</h1>
  <div class='pressarticle'>
        {% if post.title %}
      <h2 class="entry-title" style="text-decoration: none; color:#FFFF!important; font-size: 20px; opacity: 1;">
          <a href="{{ root_url }}{{ post.url }}" style="text-decoration: none; color:#FFFF!important; font-size: 20px; opacity: 1;">{{ post.title }}</a>
      </h2>      
        {% endif %}
      <div class="entry-content" style="text-decoration: none; color:#FFFF!important; font-size: 20px; opacity: 1;">{{ content }}
      </div>
    </div>
    <p>
    </p>
    <div class='pressarticle'>
        <ul>
          <div style="text-decoration: none; color:#FFFF!important; opacity: 1;"><h1>ARCHIVES</h1>
          {% for post in site.posts %}
            <li>
              <a href="{{ post.url }}" style="text-decoration: none; color:#FFFF!important; font-size: 12px; opacity: 1;">{{ post.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</header>