<header class="pressbody">
<div><h1>PRESS</h1>
  <div class='pressarticle'>
        {% if post.title %}
      <h2 class="entry-title" style="text-decoration: none; color:#FFFF!important; font-size: 20px; opacity: 1;">
          <a href="{{ root_url }}{{ post.url }}" style="text-decoration: none; color:#FFFF!important; font-size: 20px; opacity: 1;">{{ post.title }}</a>
      </h2>      
        {% endif %}
      <div class="entry-content" style="text-decoration: none; color:#FFFF!important; font-size: 20px; opacity: 1;">{{ content }}
      </div>
      <p>
       {% include  share-bar.html %}
      </p>
    </div>
    <p>
    </p>
    <div class='pressarticleP'>
        <ul>
            <div><h1>TAGS</h1>
            {% for tag in site.tags %}
              {% capture name %}{{ tag[0] }}{% endcapture %}
              <h3><a href="tags/{{ name }}/">{{ name }} ({{ site.tags[name] | size }})</a></h3>
              <hr>
            {% endfor %}
        </ul>
        <ul>
          <div><h1>Latest posts</h1>
          {% for post in site.posts %}
            <li>
              {%- if post.image2 -%}
                <img oading="lazy" src="{{- post.image2 | relative_url -}}" alt="" class="blog-roll-image2">
              {%- else -%}
                {%- assign postImage2 = "/assets/sr.webp" -%}
                <img loading="lazy" src="{{- postImage2 | relative_url -}}" alt="" class="blog-roll-image2">
              {%- endif -%}
              <a href="{{ post.url }}">{{ post.title }}</a>
              <hr>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</header>