<header class="pressbody">
<div style="text-decoration: none; color:#FFFF!important; opacity: 1;">PRESS
<h1 class="entry-title" style="text-decoration: none; color:#FFFF!important; font-size: 20px; opacity: 1;">
    <a href="{{ root_url }}{{ post.url }}" style="text-decoration: none; color:#FFFF!important; font-size: 20px; opacity: 1;">{{ post.title }}</a>
</h1>
{% if post.title %}
  <h1 class="entry-title" style="text-decoration: none; color:#FFFF!important; font-size: 20px; opacity: 1;">
    <a href="{{ root_url }}{{ page.url }}" style="text-decoration: none; color:#FFFF!important; font-size: 20px; opacity: 1;">{{ page.title }}</a>
  </h1>      
{% endif %}
<div class="entry-content" style="text-decoration: none; color:#FFFF!important; font-size: 20px; opacity: 1;">{{ content }}</div>
</div>
</header>