<div class="releasebody">
  <h1>
   <a id="Releases" style="text-decoration: none; color:#FFFF!important; opacity: 1;">Releases</a>
  </h1>
  <h3>
    <span class="site-description" style="text-decoration: none; color:#FFFA!important; opacity: 1;">Click on the artwork to go to BANDCAMP</span>
  </h3>
  <div class="release1">
      <h2>
        <p><span class="site-title" style="text-decoration: none; color:#FFFF!important; opacity: 1;">HEART</span></p>
        <!--<a href="https://sparkdnb.bandcamp.com/album/heart"><img class="Artworks"src="/assets/heart-artwork.png"alt="HEART"></a>-->
      <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=3949055209/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/tracklist=false/tracks=1560151200/esig=a3e7e94bd3984620b1b88dec0b848aaa/" seamless><a href="https://sparkdnb.bandcamp.com/album/heart-single-2022-late">Pre-order Heart by SFSQ</a></iframe>
      </h2>
  </div>
  <div class="release1">
    <h2>
        <p><span class="site-title" style="text-decoration: none; color:#FFFF!important; opacity: 1;">KALEIDOSCOPE</span></p>
        <a href="https://sparkdnb.bandcamp.com/album/kaleidoscope"><img class="Artworks"
     src="/assets/kaleidoscope-artwork.webp"
     alt="KALEIDOSCOPE"></a>
     <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/1Grz6s7cNfv7jHo9nvQGbM?utm_source=generator" width="55%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </h2>
    <h2>
        <p><span class="site-title" style="text-decoration: none; color:#FFFF!important; opacity: 1;">OBLIVION</span></p>
        <a href="https://sparkdnb.bandcamp.com/album/oblivion"><img class="Artworks"
     src="/assets/oblivion-artwork.webp"
     alt="OBLIVION"></a>
     <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/0u1ZJXWm35GePt9HCQHzVg?utm_source=generator" width="55%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </h2>
  </div>
</div>