.multiply {
  mix-blend-mode: multiply;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.screen {
  mix-blend-mode: screen;
}

.headerimage {
  background-image: url("/assets/satelliterecordingsheader.webp");
  mix-blend-mode:screen;
  opacity:1.0;
  display:flex;
  vertical-align:bottom;
  min-height:100vh;
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment:fixed
}

.header-texts{
  opacity: 1;!important
  font-size:20px;
  color:#fff;
  text-decoration:none;
}