.headerimage {
  background-image: url("/assets/satelliterecordingsheader.webp");
  mix-blend-mode:screen;
  opacity:1.0;
  display:flex;
  vertical-align:bottom;
  min-height:100vh;
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment:fixed
}

.header-texts{
  opacity: 1;!important
  font-size:20px;
  color:#fff;
  text-decoration:none;
  display:flex;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  column-gap: 0vh;
  margin: 0vh;
}

@media only screen and (min-width:768px) {
    .header-texts{
      flex-direction:row;
      column-gap: 10vh;
    }
}

.Artworks{
  max-width: 40vh;
  margin: min(auto, 100px);
  align-items: center !important;
}

.releasebody{
  background-color: #1a222c;
  opacity: 1 !important;
  text-align: center;
  font-size:30px;
  align-items: center !important;
  max-width: auto;
  margin: auto;
  color: #FFF !important;
}

@media only screen and (min-width:768px) {
    .releasebody{
        font-size: 60px;
        flex-direction:row;
    }

}

.release1{
  opacity: 1 !important;
  color: #FFF !important;
  text-align:center;
  font-size:60px;
  display:flex;
  flex-direction:column;
  -webkit-justify-content: center !important;
  -ms-justify-content: center !important;
  justify-content: center !important;
  gap: 10vh;
}

@media only screen and (min-width:768px) {
    .release1{
        margin: 20;
        font-size: 30px;
        flex-direction:row;
    }

}

.pressbody{
  background-color: #3c4f66;
  opacity: 1 !important;
  text-align: center !important;
  font-size:30px;
  align-items: center !important;
  max-width: auto;
  margin: auto;
  color: #FFF !important;
}

.ArtistSFSQ {
  background-color: #1a222c;
  background-image: url("/assets/sfsqlogo21.webp");
  opacity:1.0;
  display:flex;
  horizontal-align: center;
  min-height:100vh;
  text-align: center !important;
  align-items: center !important;
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment:fixed;
  color: #FFF !important;
  margin: auto;
  vertical-align:top;
}

.artisttext{
  font-family:'Montserrat',sans-serif;
  text-align: center !important;
  font-size:30px;
  align-items: center !important;
  max-width: auto;
  margin: auto;
  color: #FFF !important;
}