.wrap{
  position: relative;
  width;100%;
  height: 100%;
  text-align: center;
}

.multiply {
  mix-blend-mode: multiply;
}

.screen {
  mix-blend-mode: screen; /* スクリーン */
}

.overlay {
  mix-blend-mode: overlay; /* オーバーレイ */
}