.multiply {
  mix-blend-mode: multiply;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.screen {
  mix-blend-mode: screen;
}

.headerimage {
  background-image: url("/assets/satelliterecordingsheader.webp");
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  mix-blend-mode: overlay;
}

.header-texts{
  letter-spacing:5%;
  text-decoration:none;
  font-size:20px;
  display:block;
  line-height:1;
  color:#fff;
  margin-top:10px;
}