.multiply {
  mix-blend-mode: multiply;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.screen {
  mix-blend-mode: screen;
}

.overlay {
  mix-blend-mode: overlay;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.header-texts{
  letter-spacing: 5%;
  text-decoration: none;
  font-size:20px;
  display:block;
  line-height:1;
  color:#fff;
  margin-top:10px;
}