<!DOCTYPE html>
<link rel="stylesheet" href="../assets/css/devicon.min.css">
<html lang="en">
  {% include head.html %}
  <body>
      {% include header.html %}
      <section id="about">
        {% include about.html %}
      </section>
      <section id="Releases">
        {% include releases.html %}
      </section>
      <section id="Press">  
        {% assign post = site.posts.first %}
        {% assign content = post.content %}
        {% include press.html %}
      </section>
      <section id="Artists">
        {% include artists.html %}
      </section>
        {{ content }}
      {% include footer.html %}
  </body>
</html>
