---
title:  "Archives"
---
<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
<header class="header-texts2">
  <div><h1><a href="https://satellite-recordings.com" target="blank" style="text-decoration: none; color:#FFFF!important; opacity: 1; font-size:120%">SATELLITE RECORDINGS</a></h1></div>
</header>
<body>
<div class='pressbody'>
	<div class='pressarticle'>
		  {%- if page.image -%}
        <img src="{{- page.image | relative_url -}}" alt="" class="featured-image-post">
      {%- else -%}
      {%- assign postImage = "/assets/images/sr.png" -%}
         <img src="{{- postImage | relative_url -}}" alt="" class="featured-image-post">
      {%- endif -%}
      <div class='pressarticle'>
  		{{ content }}
  		</div>
	</div>
</div>
</body>

{% include footer.html %}